In [26]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

stops_cols = ["Longitude", "Latitude"]
stops = pd.read_csv('stops.csv',names=stops_cols)
distances_cols = ['stop0','stop1','stop2','stop3','stop4','stop5','stop6','stop7','stop8','stop9','stop10','stop11']
distances = pd.read_csv('distances.csv',names=distances_cols)
distance_matrix = distances.to_numpy()

display(stops,distances)

    Longitude  Latitude
0    6.084592  3.647243
1    3.757416  5.566100
2    4.804498  4.596598
3    4.703749  4.920296
4   -8.178210 -0.909409
5   -7.778165 -1.765424
6   -7.054886 -2.096278
7   -8.078685 -0.019262
8    0.319826  1.534481
9    1.489526  2.431312
10   0.123605 -0.630716
11  -2.544777 -0.173198

,stop0,stop1,stop2,stop3,stop4,stop5,stop6,stop7,stop8,stop9,stop10,stop11
0,0.000000,3.016249,1.593711,1.878135,14.972996,14.881969,14.339942,14.630164,6.139730,4.753223,7.337186,9.437255
1,3.016249,0.000000,1.426995,1.145691,13.579080,13.668243,13.252092,13.087764,5.298205,3.869137,7.183670,8.523919
2,1.593711,1.426995,0.000000,0.339015,14.102015,14.099600,13.617620,13.685123,5.430363,3.959483,7.016806,8.761438
3,1.878135,1.145691,0.339015,0.000000,14.139672,14.159697,13.692984,13.703644,5.539180,4.065252,7.196627,8.859165
4,14.972996,13.579080,14.102015,14.139672,0.000000,0.944880,1.634171,0.895693,8.842467,10.228662,8.306492,5.681336
5,14.881969,13.668243,14.099600,14.159697,0.944880,0.000000,0.795359,1.771833,8.744531,10.173626,7.982827,5.470240
6,14.339942,13.252092,13.617620,13.692984,1.634171,0.795359,0.000000,2.315634,8.220024,9.669853,7.326569,4.902991
7,14.630164,13.087764,13.685123,13.703644,0.895693,1.771833,2.315634,0.000000,8.541025,9.877043,8.225050,5.536049
8,6.139730,5.298205,5.430363,5.539180,8.842467,8.744531,8.220024,8.541025,0.000000,1.473941,2.174070,3.334985
9,4.753223,3.869137,3.959483,4.065252,10.228662,10.173626,9.669853,9.877043,1.473941,0.000000,3.352873,4.801986
10,7.337186,7.183670,7.016806,7.196627,8.306492,7.982827,7.326569,8.225050,2.174070,3.352873,0.000000,2.707321
11,9.437255,8.523919,8.761438,8.859165,5.681336,5.470240,4.902991,5.536049,3.334985,4.801986,2.707321,0.000000

In [52]:
import random

class Generate():
    def __init__(self):
        self.num_vessels = 3
        self.stops_per_route = 4
        self.routes_np = None
        self.stops = stops
        self.stop_indices = list(range(0, len(stops)))
        

    def make_random_routes(self):
        random.shuffle(self.stop_indices)
        # divide the stops into sublists of length stops_per_route
        routes = np.array_split(self.stop_indices, self.num_vessels)
        self.routes_np = np.array(routes)
        return self.routes_np
    
    @property # Getter, no need to access like a method()
    def get_routes(self):
        if self.routes_np is None:
            self.make_random_routes()
        return self.routes_np


hc = Generate()
# hc.make_random_routes()
hc.get_routes

array([[11,  8,  9,  2],
       [ 0,  6, 10,  7],
       [ 3,  4,  5,  1]])

In [40]:
hc.get_routes()

array([[ 1,  2,  7,  3],
       [ 6,  5,  8, 11],
       [ 9, 10,  0,  4]])

In [4]:
def calc_route_distance(choosen_route,i):
    print(f"ðŸš¢ Ferry Route #{i} : {choosen_route}")
    total_distance = 0
    for i, stop in enumerate(choosen_route):
        if i < len(choosen_route) - 1:
            next_stop = choosen_route[i + 1]
            total_distance += distance_matrix[stop][next_stop]
    return total_distance
        
def get_random_ferry_route():
    # routes = randomize_route()   
     
    for i in range(len(routes_np)):
        print(f"Distance traveled: {calc_route_distance(routes_np[i],i)}\n")

In [9]:
get_random_ferry_route()

ðŸš¢ Ferry Route #0 : [ 3  8  1 10]
Distance traveled: 18.021055092577217

ðŸš¢ Ferry Route #1 : [9 2 6 0]
Distance traveled: 31.91704516995629

ðŸš¢ Ferry Route #2 : [11  4  7  5]
Distance traveled: 8.34886167355847

In [11]:
def fitness_function(routes):
    # print(routes)
    total_violations = 0
    tolerance_distance = 5
    route_distance = []
    # Check if each route has 4 stops
    for i,route in enumerate(routes):
        print("route length" , len(route))
        if len(route) !=4:
            total_violations +=1
        route_distance.append(calc_route_distance(routes[i],i))

    print("Route distance" ,route_distance)
    max_distance = max(route_distance)
    min_distance = min(route_distance)
    print("max" , max_distance)
    print("min", min_distance)
    return "Total Violations: " ,total_violations
    
# fitness_function(randomize_route() )

fitness_function(routes_np)

route length 4
ðŸš¢ Ferry Route #0 : [ 3  8  1 10]
route length 4
ðŸš¢ Ferry Route #1 : [9 2 6 0]
route length 4
ðŸš¢ Ferry Route #2 : [11  4  7  5]
Route distance [18.021055092577217, 31.91704516995629, 8.34886167355847]
max 31.91704516995629
min 8.34886167355847

('Total Violations: ', 0)

In [15]:
class InvalidRouteNumberError(Exception):
    pass

class HillClimber():
    def __init__(self):
        pass
    
    def shuffle(self,route_number):
         if isinstance(route_number, int) and 0 <= route_number <= 3: # Check to make sure the route number is either 0,1,2 (total 3 routes)
             # Lookup route number in routes variable
             random.shuffle(routes_np[route_number])
             return routes_np
         else:
           raise InvalidRouteNumberError("Invalid route number. The route number must be an integer between 0 and 3.")

        
    
    def swap(self): # Pick two random stops and exchange their locations within the three routes+
        # global routes_np
      
        swap_two_stop_random = random.sample(stop_indices,2)
        print(swap_two_stop_random)
        print(routes_np)
        loc1 = np.argwhere(routes_np == swap_two_stop_random[0])[0]
        loc2 = np.argwhere(routes_np == swap_two_stop_random[1])[0]
        
        routes_np[tuple(loc1)], routes_np[tuple(loc2)] = routes_np[tuple(loc2)], routes_np[tuple(loc1)]
    
       
        
    def ruin_and_recreate(self):
        randomize_route()

    
try:
   
    hc = HillClimber()
    # hc.shuffle(0)
    # print(routes)
    # hc.swap()
    hc.ruin_and_recreate()
except InvalidRouteNumberError as e:
    print(e)